@model IEnumerable<POS.Models.DB.Utilisateur>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Identifiant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotDePasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identifiant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotDePasse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUtil">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUtil">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUtil">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
